.footer-navigation__about
    +textBlock('footer-navigation__about-title', 'ABOUT US')
    +textBlock('footer-navigation__about-text', 'Who we are')
    +textBlock('footer-navigation__about-text', 'Our team')
    +textBlock('footer-navigation__about-text', 'Careers')
    +textBlock('footer-navigation__about-text', 'Investors')