.footer-navigation__about-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1f2041;
}

.footer-navigation__about-title,
.footer-navigation__about-text {
    padding-bottom: 20px;
}

.footer-navigation__about-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* Dark 50% */
    color: #1f204180;
}