.footer-navigation__about
    +second-level-heading('footer-navigation__about-title', 'ABOUT US')
    +entire-text('footer-navigation__about-text', 'Who we are')
    +entire-text('footer-navigation__about-text', 'Our team')
    +entire-text('footer-navigation__about-text', 'Careers')
    +entire-text('footer-navigation__about-text', 'Investors')