.footer-navigation__newsletter
    +second-level-heading('footer-navigation__newsletter-title', 'Subscribe to our newsletter')
    +entire-text('footer-navigation__newsletter-text', 'Receive our latest news and promotions in your inbox!')
    .footer-navigation__container-form
        +formFill('text', 'Your email address')
        span.email-marker.email-marker__footer-navigation arrow_forward