.footer-navigation__newsletter {
    width: 220px;
    height: 84px;
    margin-right: 56px;
}

.footer-navigation__newsletter .main-form {
    width: 260px;
}

.footer-navigation__newsletter-title {
    line-height: 15px;
    font-family: Montserrat-Regular;
}

.footer-navigation__newsletter-title,
.footer-navigation__newsletter-text {
    padding-bottom: 11px;
}

.footer-navigation__newsletter-text {
    line-height: 26px;
    padding-bottom: 21px;
    color: #1f2041bf;
}

.footer-navigation__container-form {
    position: relative;
}

.email-marker {
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    color: transparent;
    -webkit-background-clip: text;
}

.email-marker__footer-navigation {
    position: absolute;
    top: .625rem;
    right: -1.8rem;
}