.container-checkbox-buttons__amenities-list
    +second-level-heading('container-checkbox-buttons__amenities-title','Checkbox Buttons')
    .container-checkbox-buttons__checkbox
       input(type="checkbox" name="c1" id="c1")
       label(for="c1" class="container-checkbox-buttons__checkbox-text") Можно курить
    .container-checkbox-buttons__checkbox
       input(type="checkbox" name="c1" id="c2" checked)
       label(for="c2"  class="container-checkbox-buttons__checkbox-text") Можно с питомцами
    .container-checkbox-buttons__checkbox
       input(type="checkbox" name="c1" id="c3" checked)
       label(for="c3"  class="container-checkbox-buttons__checkbox-text container-checkbox-buttons__checkbox-text_width") Можно пригласить гостей (до 10 человек)