.registration-form__block-registration
    .registration-form__block-section
        +formFill('text', 'Имя', '')
    .registration-form__block-section
        +formFill('text', 'Фамилия', '')
    //- .registration-form__gender-selection
    //-     +formFill('checkbox', '', 'Мужской')
    //-     +formFill('checkbox', '', 'Женский')
