.main-form {
    width: 320px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
}

.main-form_padding {
    padding: 0 0 0 .9375rem;
}

.registration-form__block-registration {
    padding-top: 20px;
}

.registration-form__block-section {
    padding-bottom: 10px;
}