.container-apply-clear-button__the-guests
    .container-apply-clear-button
        +second-level-heading('container-apply-clear-button__dropdown-clear-header', 'Dropdown')
        include ../../DropDown/DropDown