.container-apply-clear-button__the-guests
    .container-apply-clear-button
        +second-level-heading('container-apply-clear-button__dropdown-clear-header', 'Dropdown')
        +dropdown-form('Сколько гостей','idOne','dedOne','iqdropdown-clear','selection-clear','first-item1','Взрослые','first-item2','Дети','first-item3','Младенцы')