.footer-navigation__copyright
    .container-copyright
        +textBlock('footer-navigation__copyright-text','Copyright © 2018 Toxin UI Kit. All rights reserved.')
        img(src="/assets/img/twit.png")
        img(src="/assets/img/fsb.png")
        img(src="/assets/img/inst.png")
