.footer-navigation__copyright
    .container-copyright
        +entire-text('footer-navigation__copyright-text','Copyright © 2018 Toxin UI Kit. All rights reserved.')
        .footer-navigation__container-social
            img(src="/assets/img/twit.png" class="footer-navigation__image")
            img(src="/assets/img/fsb.png" class="footer-navigation__image")
            img(src="/assets/img/inst.png" class="footer-navigation__image")
