.container-dropdown__subscription-field-header {
    width: 170px;
    height: 15px;
    line-height: 15px;
    color: #1F2041;
}

.container-dropdown__subscription-field {
    position: relative;
}

.container-dropdown__subscription-field .email-marker {
    right: 4rem;
    top: 1.825rem;
}

.container-dropdown__subscription-form {
    width: 266px;
    height: 44px;
    padding: 0 0 0 .9375rem;
    background: #fff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, .95);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: 400;
    outline: none;
    font-size: 14px;
    line-height: 18px;
}