.container-dropdown__container-form-dropdown
    .container-dropdown__subscription-field
        +second-level-heading('container-dropdown__subscription-field-header', 'subscription text field')
        input(type='text' class="container-dropdown__subscription-form" placeholder='Email')
        span.email-marker.email-marker__container-dropdown arrow_forward