.container-checkbox-buttons__like {
    padding-bottom: 40px;
}

.container-checkbox-buttons__like-title {
    width: 160px;
    height: 15px;
    padding-bottom: 25px;
    line-height: 15px;
    color: #1f2041;
}

.container-checkbox-buttons__like input[type=checkbox].switch:nth-child(2) {
    margin-right: 12px;
}