.container-checkbox-buttons__like
    +second-level-heading('container-checkbox-buttons__like-title', 'like button')
    .container-checkbox-like.container-checkbox-like__position
        .container-like
                input(type="checkbox" class="like" name="l1" id="l1")
                label.container-like__count(for="l1") 2
        .container-like.container-checkbox-like__position
                input(type="checkbox" class="like" name="l2" id="l2" checked)
                label.container-like__count(for="l2") 12