script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
link(rel="stylesheet" href="./ion.rangeSlider.min.css")
script(src="./ion.rangeSlider.min.js")

.container-buttons-and-more__range-slider
    +second-level-heading('container-buttons-and-more__range-title','Range Slider')
    include ../../RangeSlider/RangeSlider