link(href="./datepicker.min.css" rel="stylesheet")
script(src="./datepicker.min.js")

input(type='text' class="datepicker-here" value='ДД.ММ.ГГГГ')
input(type='text' class="datepicker-here" value='ДД.ММ.ГГГГ')
.datepicker-here
