link(href="./datepicker.min.css" rel="stylesheet")
script(src="./datepicker.min.js")

.form-all-container.form-all-container_top
    .datepicker-here.dateTest(data-range="true" data-multiple-dates-separator=" - ")
