link(href="./datepicker.min.css" rel="stylesheet")
script(src="./datepicker.min.js")

//- input(type='text' class="datepicker-here datepicker-test" placeholder='ДД.ММ.ГГГГ')
//- input(type='text' class="datepicker-here datepicker-test-two" placeholder='ДД.ММ.ГГГГ')
.test
    .datepicker-here.dateTest(data-range="true" data-multiple-dates-separator=" - ")
//- //- .datepicker-here.dateTest
