.footer-navigation__navigation-department
    +textBlock('footer-navigation__navigation-title', 'Navigation')
    +textBlock('footer-navigation__navigation-text', 'About Us')
    +textBlock('footer-navigation__navigation-text', 'News')
    +textBlock('footer-navigation__navigation-text', 'Support')
    +textBlock('footer-navigation__navigation-text', 'Products')