.footer-navigation__navigation-department
    +second-level-heading('footer-navigation__navigation-title', 'Navigation')
    +entire-text('footer-navigation__navigation-text', 'About Us')
    +entire-text('footer-navigation__navigation-text', 'News')
    +entire-text('footer-navigation__navigation-text', 'Support')
    +entire-text('footer-navigation__navigation-text', 'Products')