.rich-checkbox-buttons__header {
    width: 185px;
    height: 15px;
    line-height: 15px;
    color: #1f2041;
    margin-bottom: 15px;
}

.container-rich-checkbox-buttons_bottom {
    padding-bottom: 9px;
}

input[type=checkbox]+label,
input[type=radio]+label .rich-checkbox-buttons__checkbox-text {
    width: 225px;
    padding-left: 5px;
    padding-top: 3px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    color: #1f2041bf;
}

.rich-checkbox-buttons__text {
    width: 233px;
    padding-top: 4px;
    padding-left: 30px;
    font-size: 12px;
    line-height: 14px;
}

.rich-checkbox-buttons__text_width {
    width: 253px;
}