.rich-checkbox-buttons__header {
    width: 165px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
}

.container-rich-checkbox-buttons {
    padding-bottom: 12px;
}

.rich-checkbox-buttons__checkbox-text {
    width: 175px;
    padding-left: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    /* Dark 50% */
    color: rgba(31, 32, 65, 0.5);
}

.rich-checkbox-buttons__text {
    width: 195px;
    padding-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* or 117% */
}

.rich-checkbox-buttons__text_width {
    width: 225px;
}