.expandable-checkbox-list__hidden
    h2.expandable-checkbox-list__hidden-header.default-second-level-heading #[span(class ='datepicker__market') expand_more] Expandable checkbox list
    .container-amenities-list
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a1")
            label(for="a1" class="container-amenities-list__item-checkbox-text") Завтрак
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a2" checked)
            label(for="a2"  class="container-amenities-list__item-checkbox-text") Письменный стол
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a3" checked)
            label(for="a3"  class="container-amenities-list__item-checkbox-text") Стул для кормления
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a4" checked)
            label(for="a4"  class="container-amenities-list__item-checkbox-text") Кроватка
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a5")
            label(for="a5"  class="container-amenities-list__item-checkbox-text") Телевизор
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a6")
            label(for="a6"  class="container-amenities-list__item-checkbox-text") Шампунь
