.expandable-checkbox-list__hidden
    +textBlock('expandable-checkbox-list__hidden-header', 'Expandable checkbox list')
    .container-amenities-list
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a1")
            label(for="a1" class="container-amenities-list__item__checkbox-text") Завтрак
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a2")
            label(for="a2"  class="container-amenities-list__item__checkbox-text") Письменный стол
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a3" checked)
            label(for="a3"  class="container-amenities-list__item__checkbox-text") Стул для кормления
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a4" checked)
            label(for="a4"  class="container-amenities-list__item__checkbox-text") Кроватка
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a5")
            label(for="a5"  class="container-amenities-list__item__checkbox-text") Телевизор
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a6")
            label(for="a6"  class="container-amenities-list__item__checkbox-text") Шампунь
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a7")
            label(for="a7"  class="container-amenities-list__item__checkbox-text") Телевизор
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="a8")
            label(for="a8"  class="container-amenities-list__item__checkbox-text") Шампунь
