.expandable-checkbox-list__hidden
    h2.expandable-checkbox-list__hidden-header.default-second-level-heading #[span(class ='datepicker__market') expand_more] Expandable checkbox list
    .container-amenities-list.container-amenities-list__open
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="b1")
            label(for="b1" class="container-amenities-list__item-checkbox-text") Завтрак
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="b2")
            label(for="b2"  class="container-amenities-list__item-checkbox-text") Письменный стол
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="b3" checked)
            label(for="b3"  class="container-amenities-list__item-checkbox-text") Стул для кормления
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="b4" checked)
            label(for="b4"  class="container-amenities-list__item-checkbox-text") Кроватка
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="b5")
            label(for="b5"  class="container-amenities-list__item-checkbox-text") Телевизор
        .container-amenities-list__item
            input(type="checkbox" name="c1" id="b6")
            label(for="b6"  class="container-amenities-list__item-checkbox-text") Шампунь
    
