.container-creative__logo-text
    +textBlock('container-creative__logo','TOXIN')
    +textBlock('container-creative__text','Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.')
    img(src="/assets/img/twit.png")
    img(src="/assets/img/fsb.png")
    img(src="/assets/img/inst.png")
        