.container-creative__logo-text {
    width: 560px;
    height: 48px;
    text-align: center;
}

.container-creative__logo {
    padding-bottom: 15px;
    padding-left: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #1f2041bf;
}

.container-creative__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    /* Dark 75% */
    color: #1f2041bf;
}