.good-side-icon__icon-text {
    padding-bottom: 40px;
    position: relative;
}

.good-side-icon__header {
    width: 85px;
    height: 15px;
    line-height: 15px;
    color: #1f2041;
}

.good-side-icon__icon {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 3rem;
    color: transparent;
    font-size: 3rem;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    -webkit-background-clip: text;
}

.good-side-icon__container-text {
    padding-top: 5px;
    padding-left: 60px;
}

.good-side-icon__text {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;
}