.good-side-icon
    .good-side-icon__icon-text
        span.good-side-icon__icon insert_emoticon
        .good-side-icon__container-text
            +second-level-heading('good-side-icon__header', 'Комфорт')
            +entire-text('good-side-icon__text', 'Шумопоглощающие стены')
    .good-side-icon__icon-text 
        span.good-side-icon__icon location_city
        .good-side-icon__container-text
            +second-level-heading('good-side-icon__header', 'Удобство')
            +entire-text('good-side-icon__text', 'Окно в каждой из спален')