.good-side-icon
    .good-side-icon__icon-text
        img(src="/assets/img/insert_emoticon.png")
        +textBlock('good-side-icon__header', 'Комфорт')
        +textBlock('good-side-icon__text', 'Шумопоглощающие стены')
    .good-side-icon__icon-text 
        img(src="/assets/img/location_city.png")
        +textBlock('good-side-icon__header', 'Удобство')
        +textBlock('good-side-icon__text', 'Окно в каждой из спален')