.good-side-icon__icon-text {
    padding-bottom: 40px;
}

.good-side-icon__header {
    width: 85px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
}

.good-side-icon__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;
}