.container-dropdown__arrival-form
    +second-level-heading('container-dropdown__arrival-header', 'date Dropdown ')
    input(type='text' class="datepicker-here datepicker-here__all" placeholder='ДД.ММ.ГГГГ')
    span.datepicker__market expand_more