.container-dropdown__container-form-dropdown
    .container-dropdown__filter-data
        +second-level-heading('container-dropdown__filter-data-header', 'filter date dropdown')
        input(type='text' data-range="true" data-multiple-dates-separator=" - " class="datepicker-here datepicker-here__all datepicker-filter-fata" placeholder='19 авг - 23 авг')
        span.datepicker__market expand_more