.container-dropdown__container-form-dropdown {
    position: relative;
}

.container-dropdown__filter-data .datepicker__market {
    right: 64px;
    top: 71.12px;
}

.container-dropdown__filter-data-header {
    width: 190px;
    height: 15px;
    line-height: 15px;
    color: #1F2041;
}

.datepicker-filter-fata {
    width: 266px;
}

.container-dropdown__filter-data .datepicker-here__all {
    background-color: #f8f8f8;
}

.container-dropdown__filter-data .datepicker-here__all::-webkit-input-placeholder {
    color: #1f204140;
}

.container-dropdown__filter-data .datepicker-here__all::-moz-placeholder {
    color: #1f204140;
}

.container-dropdown__filter-data .datepicker-here__all:hover::-webkit-input-placeholder {
    color: #1f2041f2;
}

.container-dropdown__filter-data .datepicker-here__all:hover::-moz-placeholder {
    color: #1f2041f2;
}