.container-dropdown__container-form-dropdown {
    position: relative;
}

.container-dropdown__filter-data .datepicker__market {
    right: 4rem;
    top: 4.445rem;
}

.container-dropdown__filter-data-header {
    width: 190px;
    height: 15px;
    line-height: 15px;
    color: #1F2041;
}

.datepicker-filter-fata {
    width: 266px;
}