.container-apply-button__dropdown-apply-header {
    width: 83px;
    height: 15px;
    line-height: 15px;
    color: #1f2041;
}

.iqdropdown-lodger-hidden {
    background-color: #f8f8f8;
}

.container-apply-button .datepicker__market {
    top: 10px;
}