.container-form__form-active
    .container-form-text
        +second-level-heading('container-form__form-active-header', 'text field')
        input(type='text' class="container-form__active" placeholder='This is pretty awesome')