.container-checkbox-buttons
   include ./container-checkbox-buttons__amenities-list/container-checkbox-buttons__amenities-list
   include ./container-checkbox-buttons__gender-selection/container-checkbox-buttons__gender-selection
   include ./container-checkbox-buttons__mailing/container-checkbox-buttons__mailing
   include ./container-checkbox-buttons__like/container-checkbox-buttons__like
   include ./container-checkbox-buttons__rating/container-checkbox-buttons__rating