.container-dropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-dropdown__form-container {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.container-dropdown__container-form-dropdown {
    padding-top: 25px;
}