.container-dropdown
    .container-dropdown__container-form-dropdown
        .container-dropdown__form-container
            include ./container-dropdown__arrival-form/container-dropdown__arrival-form
            include ./container-dropdown__exit-form/container-dropdown__exit-form
    include ./container-dropdown__filter-data/container-dropdown__filter-data
    include ./container-dropdown__subscription-field/container-dropdown__subscription-field