.container-dropdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-dropdown__form-container {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

.container-dropdown__container-form-dropdown:nth-child(1) {
    padding-top: 20px;
}

.container-dropdown__container-form-dropdown:nth-child(2) {
    padding-top: 40px;
}

.container-dropdown__container-form-dropdown:nth-child(3) {
    padding-top: 41px;
}