.registration-form__block-registration.registration-form__block-registration_positioning
    +second-level-heading('registration-form__birthday-title', 'Данные для входа в сервис')
    .registration-form__block-section
        +formFill('text', 'Email')
    .registration-form__block-section
        +formFill('password', 'Пароль')
    include ../../../block/container-checkbox-buttons/container-checkbox-buttons__mailing/container-checkbox-buttons__mailing-default/container-checkbox-buttons__mailing-default
    .registration-form__block-section.registration-form__block-item
        +button('registration-form__button main-button_arrow','перейти к оплате')