.registration-form__block-item {
    padding-top: 22px;
}

.registration-form__block-registration_positioning {
    padding-top: 23px;
}

input[type=checkbox]+label,
.registration-form__block-registration .container-checkbox-buttons__checkbox-text {
    padding-top: 0px;
}