.registration-form__block-registration
    +textBlock('registration-form__title registration-form__birthday-title', 'Данные для входа в сервис')
    .registration-form__block-section
        +formFill('text', 'email')
    .registration-form__block-section
        +formFill('password', 'Пароль')
    +textBlock('registration-form__title registration-form__special-offers', 'Получать спецпредложения')
     //- .registration-form__gender-selection
    //-     +formFill('checkbox', '', 'Мужской')
    .registration-form__block-section.registration-form__block-item
        include ../../../mixin/mixin-button/button