.container-buttons-and-more__pagination-title {
    width: 170px;
    height: 15px;
    left: 340px;
    top: 270px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
}