.form-all-container.form-all-container_top
    .presentation-of-number.presentation-of-number__form-all-container
        include ./presentation-of-number__photo-of-number/presentation-of-number__photo-of-number
        include ./presentation-of-number__number-details/presentation-of-number__number-details
        include ./presentation-of-number__reviews/presentation-of-number__reviews