.container-form__masked-text-form-header {
    width: 130px;
    height: 15px;
    line-height: 15px;
    color: #1F2041;
}

.container-form__masked-form {
    width: 320px;
    height: 44px;
    padding: 0 0 0 .9375rem;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: #1f2041f2;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    outline: none;
    font-size: 14px;
    line-height: 18px;
}

.container-form__masked-form:hover,
.container-form__masked-form:active {
    border: 1px solid #1f204180;
    color: #1f2041f2;
}