.container-form__masked-text-form
    .container-form-text
        +second-level-heading('container-form__masked-text-form-header', 'masked text field')
        input(type='text' class="container-form__masked-form" placeholder='ДД.ММ.ГГГГ')