.container-form__masked-text-form-header {
    width: 130px;
    height: 15px;
    line-height: 15px;
    color: #1F2041;
}

.container-form-text.container-form-text__container-form .container-form__masked-form::-webkit-input-placeholder {
    color: #1f204140;
}

.container-form-text.container-form-text__container-form .container-form__masked-form::-moz-placeholder {
    color: #1f204140;
}

.container-form__masked-form {
    width: 320px;
    height: 44px;
    padding: 0 0 0 .9375rem;
    background-color: #f8f8f8;
    border: 1px solid #1f204140;
    color: #1f2041f2;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    outline: none;
    font-size: 14px;
    line-height: 18px;
}

.container-form__masked-form:hover,
.container-form__masked-form:active {
    border: 1px solid #1f204180;
    color: #1f2041f2;
}

.container-form-text.container-form-text__container-form .container-form__masked-form:hover::-webkit-input-placeholder {
    color: #1f2041f2;
}

.container-form-text.container-form-text__container-form .container-form__masked-form:hover::-moz-placeholder {
    color: #1f2041f2;
}