.presentation-of-number__number-details
    .presentation-of-number__number-details-container
        .presentation-of-number__number-details-text
            h1.default-first-level-heading.presentation-of-number__number-details-title #[em(class="presentation-of-number__prefix") №] 888
            +second-level-heading('presentation-of-number__number-details-text-title', 'люкс')
        .presentation-of-number__number-details-price
             p.default-entire-text.presentation-of-number__number-details-text-price #[em(class="presentation-of-number__price-digits") 9 999₽] в сутки
hr.presentation-of-number__separator