.presentation-of-number__number-details
    .presentation-of-number__number-details-container
        .presentation-of-number__number-details-text
            +titleBlock('presentation-of-number__number-details-title', '№ 888')
            +textBlock('presentation-of-number__number-details-text-title', 'люкс')
        .presentation-of-number__number-details-price
            +textBlock('presentation-of-number__number-details-text-price', '9999р в сутки')
hr.presentation-of-number__separator