.test
    .form-login
        include ./form-login__title/form-login__title
        include ./form-login__password_email/form-login__password_email
        +button('form-login__button main-button_arrow','Войти')
        include ./form-login__registration-form/form-login__registration-form
