.test
    .form-login
        include ./form-login__title/form-login__title
        include ./form-login__password_email/form-login__password_email
        include ../../mixin/mixin-button/button
        include ./form-login__registration-form/form-login__registration-form
