.form-all-container.form-all-container_top
    .form-login.form-login__form-all-container
        include ./form-login__password_email/form-login__password_email
        +button('form-login__button main-button_arrow','Войти')
        include ./form-login__registration-form/form-login__registration-form
