.container-headers-footers
    .footer-navigation
        .container-footers
            include ./footer-navigation__logo-text/footer-navigation__logo-text
            include ./footer-navigation__navigation-department/footer-navigation__navigation-department
            include ./footer-navigation__about/footer-navigation__about
            include ./footer-navigation__support/footer-navigation__support
            include ./footer-navigation__newsletter/footer-navigation__newsletter
    include ./footer-navigation__copyright/footer-navigation__copyright   