extends layout/main
include ./mixin/mixin

block variables
    - var title = 'Cards'

block content
    .block-Cards
        .block-Cards__container.block-Cards__container_left
            include ./block/form-search-number/form-search-number
            include ./block/registration-form/registration-form
        .block-Cards__container.block-Cards__container_center
            include ./block/form-of-payment/form-of-payment
            include ./block/form-login/form-login
        .block-Cards__container.block-Cards__container_right
            include ./block/DatePicker/DatePicker
            include ./block/presentation-of-number/presentation-of-number
            include ./block/presentation-of-number/presentation-of-number