extends layout/main
include ./mixin/mixin

block variables
    - var title = 'Colors & Type'

block content
    .block-colorsType
        .element-column.element-column__colors-type
            include ./block/colorRendering/colorRendering
        .element-column.element-column__colors-type
            include ./block/text-variations/text-variations


       
