extends layout/main

block variables
    - var title = 'Webpack + Pug'

block content
    .block-colorsType
        include ./block/colorRendering/colorRendering
        include ./mixin/mixin-titleBlock-textBlock/mixin-titleBLock/mixin-titleBlock
        include ./mixin/mixin-titleBlock-textBlock/mixin-textBlock/mixin-textBlock
    .block-Cards
        include ./block/number-search/number-search


        
       
