extends layout/main

block variables
    - var title = 'Webpack + Pug'

block content
    .block_colorsType
        include ./block/colorRendering/colorRendering
        include ./mixin/mixin-titleBlock-textBlock/mixin-titleBLock-textBlock
    .block_Cards
        
       
