.container-form__form-default
    .container-form-text
        +textBlock('container-form__form-default-header', 'text field')
        input(type='text' class="container-form__default" placeholder='Email')