.footer-navigation__logo-text
    +titleBlock('footer-navigation__logo', 'Toxin')
    +textBlock('footer-navigation__text','Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis. ')