.footer-navigation__logo-text {
    width: 260px;
    height: 156px;
    margin-left: 84px;
    margin-top: -4px;
    line-height: 42px;
}

.footer-navigation__text {
    line-height: 24px;
    color: #1f2041bf;
}