.form-of-payment__arrival-form__arrival-header {
    width: 83px;
    height: 15px;
    line-height: 15px;
}

.datepicker-test-two {
    width: 150px;
    height: 44px;
    font-family: Montserrat-Regular;
    padding: 0 0 0 .9375rem;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, .75);
}