.form-of-payment__arrival-form__arrival-form.container__datepicker-market
    +second-level-heading('form-of-payment__arrival-form__arrival-header', 'прибытие')
    +datepicker-form('19.08.2019','expand_more')