.container-hidden-open__dropdown-default-header {
    width: 83px;
    height: 15px;
    line-height: 15px;
    color: #1F2041;
}

.container-hidden-open-hidden {
    padding-bottom: 20px;
}

.container-hidden-open-hidden .datepicker__market,
.container-hidden-open-open .datepicker__market {
    top: 10px;
}

.container-hidden-open-hidden .iqdropdown,
.container-hidden-open-open .iqdropdown {
    width: 265px;
}