.container-hidden-open__amenities
    .container-hidden-open-hidden
        +second-level-heading('container-hidden-open__dropdown-default-header', 'Dropdown')
        +dropdown-form('Выбрать удобства','','','iqdropdown-facilities','selection-facilities','first-item1','Спальни','first-item2','Кровати','first-item3','Ванные комнаты')
    .container-hidden-open-open
        +second-level-heading('container-hidden-open__dropdown-default-header', 'Dropdown')
        +dropdown-form('Выбрать удобства','','','iqdropdown-facilities','selection-facilities','first-item1','Спальни','first-item2','Кровати','first-item3','Ванные комнаты')