.container-hidden-open__amenities
    .container-hidden-open-hidden
        +second-level-heading('container-hidden-open__dropdown-default-header', 'Dropdown')
        include ../../DropDown/DropDown
    .container-hidden-open-open
        +second-level-heading('container-hidden-open__dropdown-default-header', 'Dropdown')
        include ../../DropDown/DropDown