.container-checkbox-buttons__gender-selection
    +second-level-heading('container-checkbox-buttons__gender-selection-title','Radio Buttons')
    .container-checkbox-buttons__radio
        include ./container-checkbox-buttons__radio-male/container-checkbox-buttons__radio-male
        include ./container-checkbox-buttons__radio-female/container-checkbox-buttons__radio-female