.container-checkbox-buttons__gender-selection {
    padding-bottom: 40px;
}

.container-checkbox-buttons__gender-selection-title {
    width: 160px;
    height: 15px;
    padding-bottom: 25px;
    font-weight: 700;
    line-height: 15px;
}

.container-checkbox-buttons__radio {
    display: flex;
}

.container-checkbox-buttons__radio-text {
    padding-left: 5px;
}

.container-checkbox-buttons__radio-female {
    padding-left: 20px;
}