.room-details
    .form-of-payment__details-of-payment
        .form-of-payment__details-of-payment-text
            +titleBlock('form-of-payment__details-of-payment-title', '№ 485')
            +textBlock('form-of-payment__details-of-payment-text-title', 'люкс')
        .form-of-payment__details-of-payment-price
            +textBlock('form-of-payment__details-of-payment-text-price', '9999р в сутки')