.room-details
    .form-of-payment__details-of-payment
        .form-of-payment__details-of-payment-text
            h1.form-of-payment__details-of-payment-title #[em(class ='form-of-payment__prefix') №] 888
            +second-level-heading('form-of-payment__details-of-payment-text-title', 'люкс')
        .form-of-payment__details-of-payment-price
            p.form-of-payment__details-of-payment-text-price #[em(class ='form-of-payment__price-digits') 9 990₽] в сутки