.registration-form__block-registration.registration-form__width-flex
    +entire-text('registration-form__login-title', 'Уже есть аккаунт на Toxin')
    +button('button_white-default button-white-default_margin','Войти')