.registration-form__login-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

// .test-button {
//     width: 99px;
//     height: 44px;
//     left: 391px;
//     top: 1136px;
//     border-radius: 22px;
// }