.registration-form__block-registration.blockFlex
    +entire-text('registration-form__login-title', 'Уже есть аккаунт на Toxin')
    +button('button_white_default button-white-default_margin','Войти')