.registration-form__width-flex {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.registration-form__login-title {
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}