.presentation-of-number__photo-of-number
    img(src="/assets/img/room-840-1.jpg")
    .presentation-of-number__select-label
        label
            input(type='radio' class='presentation-of-number__input' name='select-label' checked)
            span
        label
            input(type='radio' class='presentation-of-number__input' name='select-label')
            span
        label
            input(type='radio' class='presentation-of-number__input' name='select-label')
            span
        label
            input(type='radio' class='presentation-of-number__input' name='select-label')
            span