.header-visitor__navigation {
    display: flex;
    height: 21px;
    align-items: center;
}

.header-visitor__navigation-title {
    padding-left: 30px;
    line-height: 17px;
    color: #1f204180;
}

.header-visitor__navigation-title:nth-child(2) {
    padding-left: 29px;
}

.header-visitor__navigation-title:nth-child(3) {
    padding-left: 29px;
    position: relative;
}

.header-visitor__navigation-title:nth-child(3) .datepicker__market {
    top: 1px;
    right: -23.5px;
}

.header-visitor__navigation-title:nth-child(4) {
    padding-left: 43px;
}

.header-visitor__navigation-title:nth-child(5) {
    padding-left: 29px;
}

.header-visitor__navigation-title:nth-child(6) {
    padding-left: 29px;
}

.mobile-profile {
    display: none;
    margin-left: 25px;
    font-size: 2rem;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    color: transparent;
    -webkit-background-clip: text;
}

.mobile-menu {
    display: none;
    font-size: 2rem;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    color: transparent;
    -webkit-background-clip: text;
}

.header-visitor__navigation-title_active {
    font-family: Montserrat-Bold;
    font-weight: bold;
    line-height: 17px;
    color: #1f2041bf;
}

.visitor-button-login {
    width: 79px;
    height: 34px;
    border: 2px solid #bc9cff;
    color: #bc9cff;
    background: white;
}

.button-container__header-visitor {
    padding-left: 30px;
}

.button-container__header-visitor_left {
    padding-left: 20px;
}

.visitor-button-register {
    width: 101px;
    height: 34px;
}