.header-visitor__navigation {
    display: flex;
    height: 21px;
    align-items: center;
}

.header-visitor__navigation-title {
    padding-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* Dark 50% */
    color: #1f204180;
}

.header-visitor__navigation-title_active {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* Dark 75% */
    color: #1f2041bf;
}

.visitor-button-login {
    width: 79px;
    height: 34px;
    border: 2px solid #bc9cff;
    color: #bc9cff;
    background: white;
}

.button-container {
    padding-left: 30px;
}

.button-container-test {
    padding-left: 20px;
}

.visitor-button-register {
    width: 101px;
    height: 34px;
}