.form-login__password_email
    +textBlock('form-login__title', 'Войти')
    .form-login__block-section
        +formFill('text', 'email')
    .form-login__block-section
        +formFill('password', 'Пароль')