.container-checkbox-buttons__mailing {
    padding-bottom: 45px;
}

.container-checkbox-buttons__mailing-title {
    width: 160px;
    height: 15px;
    padding-bottom: 25px;
    font-weight: 700;
    line-height: 15px;
}

.container-checkbox-buttons__mailing-activ {
    padding-bottom: 13px;
}