.container-checkbox-buttons__mailing {
    padding-bottom: 40px;
}

.container-checkbox-buttons__mailing-title {
    width: 160px;
    height: 15px;
    left: 340px;
    top: 270px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1f2041;
}

.container-checkbox-buttons__mailing-activ {
    padding-bottom: 10px;
}