.container-checkbox-buttons__mailing
    +second-level-heading('container-checkbox-buttons__mailing-title', 'Toggle')
    .container-checkbox-buttons__mailing-act-def
        include ./container-checkbox-buttons__mailing-activ/container-checkbox-buttons__mailing-activ
        include ./container-checkbox-buttons__mailing-default/container-checkbox-buttons__mailing-default