.header-visitor__logo {
    width: 105.69px;
    height: 40px;
    display: flex;
    align-items: center;
}

.header-visitor__logo-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 17px;
    /* Dark 75% */
    color: #1f2041bf;
}