script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
link(rel="stylesheet" href="./ion.rangeSlider.css")
script(src="./ion.rangeSlider.min.js")


input(type="text" id="demo" name="rangeName" value="10;100")