.test
    .form-search-number
        include ./form-search-number__title/form-search-number__title
        .container-form-search
            include ./form-search-number__arrival-form/form-search-number__arrival-form
            include ./form-search-number__exit-form/form-search-number__exit-form
        include ./form-search-number__dropdown/form-search-number__dropdown
        include ../../mixin/mixin-button/button