.form-all-container.form-all-container_top
    .form-search-number.form-search-number__form-all-container
        include ./form-search-number__title/form-search-number__title
        .container-form-search.container-form-search__form-all-container
            include ./form-search-number__arrival-form/form-search-number__arrival-form
            include ./form-search-number__exit-form/form-search-number__exit-form
        include ./form-search-number__dropdown/form-search-number__dropdown
        +button('form-search-number_button main-button_arrow', 'подобрать номер')