.number-search
+textBlock('number-search-header', 'Найдём номера под ваши пожелания')
+textBlock('arrival-header', 'прибытие')
include ../../block/DropDown/DropDown
include ../..//block/DatePicker/DatePicker
+textBlock('exit-header', 'выезд')
+textBlock('list-guest-title', 'гости')
include ../../mixin/mixin-button/button
