.number-search {
    position: absolute;
    width: 380px;
    height: 374px;
    left: 140px;
    top: 150px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.number-search-header {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 170px;
    top: 190px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* Dark 100% */
    color: #1F2041;
}

.arrival-header {
    position: absolute;
    width: 83px;
    height: 15px;
    left: 170px;
    top: 270px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
}

.exit-header {
    position: absolute;
    width: 83px;
    height: 15px;
    left: 340px;
    top: 270px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
}

.list-guest-title {
    position: absolute;
    width: 43px;
    height: 15px;
    left: 170px;
    top: 350px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
}