.container-form__dropdown-default
    .container-form-text.container-form-text_bottom.container-form-text__container-form
        +second-level-heading('container-form__dropdown-default-header', 'Dropdown')
        include ../../DropDown/DropDown