.container-form__dropdown-default-header {
    width: 83px;
    height: 15px;
    line-height: 15px;
    color: #1F2041;
}

.container-form-text .datepicker__market {
    top: 10px;
}

.container-form-text_bottom {
    padding-bottom: 22px;
}