.container-form__dropdown-default
    .container-form-text.container-form-text_bottom
        +second-level-heading('container-form__dropdown-default-header', 'Dropdown')
        include ../../DropDown/DropDown