include ../../mixin/mixin

+titleBlock('header-example_example-H1', 'H1')
+textBlock('text-example_example-H1', 'This one is the sub-section or widget title')
+titleBlock('header-example_example-H2', 'H2')
+textBlock('text-example_example-H2', 'Next one is the item title inside widgets')
+titleBlock('header-example_example-H3', 'H3')
+textBlock('text-example_example-H3', 'This is a label or CTA text')
+titleBlock('header-example_example-body', 'body')
+textBlock('text-example_example-body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.')