.header-user__navigation
    +textBlock('header-user__navigation-title header-user__navigation-title_active', 'Home')
    +textBlock('header-user__navigation-title', 'About Us')
    +textBlock('header-user__navigation-title', 'Services')
    +textBlock('header-user__navigation-title', 'Careers')
    +textBlock('header-user__navigation-title', 'News')
    +textBlock('header-user__navigation-title', 'Documentation')
    .user-profile
         +textBlock('header-user__navigation-title user-profile__title', 'Cosmin Negoita')