.header-user__navigation
    +entire-text('header-user__navigation-title header-user__navigation-title_active', 'Home')
    +entire-text('header-user__navigation-title', 'About Us')
    p.default-entire-text.header-user__navigation-title #[span(class ='datepicker__market') expand_more] Services
    +entire-text('header-user__navigation-title', 'Careers')
    +entire-text('header-user__navigation-title', 'News')
    +entire-text('header-user__navigation-title', 'Documentation')
    span.mobile-menu menu
    span.mobile-profile person_outline
    .user-profile
         +entire-text('header-user__navigation-title user-profile__title', 'Cosmin Negoita')