.header-user__navigation {
    display: flex;
    height: 21px;
    align-items: center;
}

.header-user__navigation-title {
    padding-left: 30px;
    line-height: 17px;
    color: #1f204180;
}

.header-user__navigation-title:nth-child(2) {
    padding-left: 30px;
}

.header-user__navigation-title:nth-child(3) {
    padding-left: 27px;
    position: relative;
}

.header-user__navigation-title:nth-child(3) .datepicker__market {
    top: 0px;
    right: -23.5px;
}

.header-user__navigation-title:nth-child(4) {
    padding-left: 44px;
}

.header-user__navigation-title:nth-child(5) {
    padding-left: 29px;
}

.header-user__navigation-title:nth-child(6) {
    padding-left: 30px;
}

.header-user__navigation-title_active {
    font-family: Montserrat-Bold;
    font-weight: bold;
    line-height: 17px;
    color: #1f2041bf;
}

.user-profile__title {
    padding-left: 59px;
    padding-right: 4px;
}