.user-comment__container {
    box-sizing: border-box;
    position: relative;
    padding-left: 3.45rem;
    width: 100%;
}

.user-comment__like {
    width: auto;
    position: absolute;
    top: -18px;
    left: -1.3125rem;
}

.user-comment__button-like {
    position: absolute;
    top: 71px;
    left: 1.5625rem;
}

.user-comment__container input[type=checkbox]+label {
    width: auto;
    padding: 0px;
    font-size: 10px;
    font-family: Montserrat-Regular;
    color: #BC9CFF;
}

.user-comment__name-user {
    width: 140px;
    height: 15px;
    text-transform: none;
    font-size: 14px;
    line-height: 15px;
    color: #1f2041;
}

.user-comment__activity,
.user-comment__name-text {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;
}

.user-comment__name-text {
    width: 40.945rem;
    padding-top: 8px;
}