.user-comment
    .user-comment__container
        .user-comment__like
            img(src="/assets/img/user-1.png")
            input(type="checkbox" class="switch" checked)
        +textBlock('user-comment__name-user','Мурад Сарафанов')
        +textBlock('user-comment__activity','5 дней назад')
        +textBlock('user-comment__name-text','Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')