include ../../../mixin/mixin

+titleBlock('header-example_example-H1', 'H1')
+titleBlock('header-example_example-H2', 'H2')
+titleBlock('header-example_example-H3', 'H3')
+titleBlock('header-example_example-body', 'body')