.color-demonstration_location-adjustment {
    width: 269.26px;
    height: 610px;
}

.element-column__color-wrap {
    padding-bottom: 20px;
}

.element-column__block-color {
    position: relative;
    padding-top: 7px;
    padding-left: 96px;
    height: 70px;
    color: #1f2041;
}

.color-rendering__element-column {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background: #04052c;
    border-radius: 6px;
}

.color-rendering_dark-grey {
    width: 70px;
    height: 70px;
    background: #1f2041bf;
    border-radius: 6px;
}

.color-rendering_gray {
    width: 70px;
    height: 70px;
    background: #1f204180;
    border-radius: 6px;
}

.color-rendering_light-gray {
    width: 70px;
    height: 70px;
    background: #1f204140;
    border-radius: 6px;
}

.color-rendering_white {
    width: 70px;
    height: 70px;
    background: #1f20410d;
    border-radius: 6px;
}

.color-rendering_purple {
    width: 70px;
    height: 70px;
    background: #BC9CFF;
    border-radius: 6px;
}

.color-rendering_green {
    width: 70px;
    height: 70px;
    background: #6FCF97;
    border-radius: 6px;
}

.color-code_movement-dark100 {
    width: 159px;
    height: 57px;
}

.color-code_movement-dark75 {
    width: 150px;
    height: 57px;
}

.color-code_movement-dark50 {
    width: 151px;
    height: 57px;
}

.color-code_movement-dark25 {
    width: 149px;
    height: 57px;
}

.color-code_movement-dark5 {
    width: 139px;
    height: 58px;
}

.color-code_movement-purple {
    width: 82px;
    height: 58px;
}

.color-code_movement-green {
    width: 77px;
    height: 57px;
}

.color-code__title {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1875rem;
    padding-bottom: 3px;
    padding-left: 12px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #1F2041;
}

.color-code__text {
    display: flex;
    font-size: 1.1875rem;
    padding-left: 17px;
    align-items: center;
}

.color-code__text:nth-child(5) {
    padding-left: 47px;
}