.form-search-number__dropdown {
    padding-bottom: 1.875rem;
}

.list-guest-title {
    // position: absolute;
    width: 43px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
    /* Dark 100% */
    color: #1F2041;
}