.container-bullet-list {
    padding-left: 0;
    margin-right: -2px;
}

.bullet-list__item {
    width: 232px;
    padding-bottom: 15px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.bullet-list__item:nth-child(3) {
    line-height: 23px;
}