.cont {
    padding-left: 0;
    margin-right: -2px;
}

.bullet-list__item {
    width: 232px;
    padding-bottom: 15px;
    font-family: Montserrat-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.bullet-list__item:nth-child(3) {
    line-height: 23px;
}

// .bullet-list__item:before {
//     position: absolute;
//     top: .4375rem;
//     left: 0;
//     content: "";
//     width: .625rem;
//     height: .625rem;
//     background-color: rgba(31, 32, 65, .25);
//     border-radius: .625rem;
// }