.cont {
    padding-left: 18px;
}

.bullet-list__item {
    padding-bottom: 10px;
}

.bullet-list__item:before {
    position: absolute;
    top: .4375rem;
    left: 0;
    content: "";
    width: .625rem;
    height: .625rem;
    background-color: rgba(31, 32, 65, .25);
    border-radius: .625rem;
}