.form-of-payment__payment-item {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 16px;
    width: 320px;
    line-height: 20px;
}

.form-of-payment__final-price {
    padding: 13px 0 21px;
}

.form-of-payment__payment-account {
    flex-grow: 1;
    border-bottom: 1px dotted rgba(31, 32, 65, .25);
}

.form-of-payment__payment-title {
    font-size: 19px;
    line-height: 24px;
}

.form-of-payment__payment-text {
    max-width: 214px;
}

.form-of-payment__payment-info {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    font-family: none;
    left: 219px;
    border: 1px solid rgba(31, 32, 65, .25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: rgba(31, 32, 65, .25);
    font-size: 12px;
    font-weight: 700;
}

.form-of-payment__payment-price {
    padding-top: 0.3px;
    padding-right: 4px;
}