.form-of-payment__payment-description
    .form-of-payment__payment-item
        +entire-text('form-of-payment__payment-text', '9 990₽ x 4 суток')
        +entire-text('form-of-payment__payment-price', '39 960₽')
    .form-of-payment__payment-item
        +entire-text('form-of-payment__payment-text', 'Сбор за услуги: скидка 2 179₽')
        span.form-of-payment__payment-info i
        +entire-text('form-of-payment__payment-price', '0₽')
    .form-of-payment__payment-item
        +entire-text('form-of-payment__payment-text', 'Сбор за дополнительные услуги')
        span.form-of-payment__payment-info i
        +entire-text('form-of-payment__payment-price', '300₽')
    .form-of-payment__payment-item.form-of-payment__final-price
        +first-level-heading('form-of-payment__payment-title', 'Итого')
        span.form-of-payment__payment-account
        +first-level-heading('form-of-payment__payment-title', '38 081₽')