.form-of-payment__payment-description
    .form-of-payment__payment-item
        +textBlock('form-of-payment__payment-text', '9990р x 4суток')
        +textBlock('form-of-payment__payment-price', '39960р')
    .form-of-payment__payment-item
        +textBlock('form-of-payment__payment-text', 'Сбор за услуги: скидка 2179р')
        span.form-of-payment__payment-info i
        +textBlock('form-of-payment__payment-price', '0р')
    .form-of-payment__payment-item
        +textBlock('form-of-payment__payment-text', 'Сбор за дополнительные услуги')
        span.form-of-payment__payment-info i
        +textBlock('form-of-payment__payment-price', '300р')
    .form-of-payment__payment-item
        +textBlock('form-of-payment__payment-title', 'Итого')
        span.form-of-payment__payment-account
        +textBlock('form-of-payment__payment-title', '38081р')