block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
  body
    block content
  //- include = Для того чтобы размещять множество 
  //- разных файлов на одной странице, короче для БЭМ
  //- block content = Для того чтобы если ты задал main как 
  //- основу для всех (пример: шапка, подвал) то элемент знал 
  //- куда ему вставлять контент
  //- block variables = Позволяет импортировать и использовать 
  //- переменные, аля передать название заголовка страницы
  //- extends layout/main = Говорит о том что для этой страницы 
  //- main будет основой (пример: возьмет шапку у main и подвал, 
  //- если они там уже есть, для ускорения верстки дабы не повторяться)
  
  //- БЭМ - блок, элемент, модификатор
  //- не забыть сделать всем модификаторы 
  //- (к модификаторам применять стили которые делают 
  //- позиционирование)