.test
    .form-of-payment
        include ./form-of-payment__details-of-payment/form-of-payment__details-of-payment
        .container-form-payment
            include ./form-of-payment__arrival-form/form-of-payment__arrival-form
            include ./form-of-payment__exit-form/form-of-payment__exit-form
        include ../form-search-number/form-search-number__dropdown/form-search-number__dropdown
        include ./form-of-payment__payment-description/form-of-payment__payment-description
        +button('form-of-payment__button main-button_arrow','забронировать')