.presentation-of-number__reviews {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 .9375rem;
    width: 264px;
}

.rate-button {
    display: inline-flex;
    cursor: pointer;
}

.rate-button__star::after {
    content: "star";
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    color: transparent;
    -webkit-background-clip: text;
}

.presentation-of-number__comments {
    line-height: 18px;
    text-align: right;
    padding-right: 3px;
}

.presentation-of-number__nubmer-comments {
    color: rgba(31, 32, 65, .5);
    font-weight: 700;
    font-style: normal;
}