.presentation-of-number__reviews
    .rate-button
        span.rate-button__star
        span.rate-button__star
        span.rate-button__star
        span.rate-button__star
        span.rate-button__star
    p.default-entire-text.presentation-of-number__comments #[em(class='presentation-of-number__nubmer-comments') 145] Отзывов

