body {
    background: #E5E5E5;
}

.block-colorsType {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
}

.block-Cards {
    width: 1440px;
    height: 1350px;
    background: #F4F4F6;
    display: -webkit-box;
}

.block-Cards__container {
    padding: 0 1.25rem;
}