body {
    background: #E5E5E5;
}

.block_colorsType {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
}

.block_Cards {
    position: relative;
    width: 1440px;
    height: 1350px;
    background: #F4F4F6;
}