body {
    background: #E5E5E5;
}

.block-colorsType {
    width: 100%;
    height: 900px;
    background: #FFFFFF;
}

.block-Cards {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #F4F4F6;
    display: -webkit-box;
}

.block-Cards__container {
    padding: 0 1.25rem;
}

.container-headers-footers {
    padding-top: 40px;
}