.container-checkbox-buttons__rating-title {
    width: 160px;
    height: 15px;
    line-height: 15px;
    color: #1f2041;
}

.container-checkbox-buttons__container-elements {
    padding-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container-checkbox-buttons__rating-elements:nth-child(2) {
    padding-right: 7px;
}

.rate-button__no-star {
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    color: rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
}

.rate-button__no-star::after {
    content: "star_border";
}