.container-checkbox-buttons__rating
    +second-level-heading('container-checkbox-buttons__rating-title', 'rate button')
    .container-checkbox-buttons__container-elements
        .container-checkbox-buttons__rating-elements
            span.rate-button__star
            span.rate-button__star
            span.rate-button__star
            span.rate-button__star
            span.rate-button__no-star
        .container-checkbox-buttons__rating-elements
            span.rate-button__star
            span.rate-button__star
            span.rate-button__star
            span.rate-button__star
            span.rate-button__star