.test
    .registration-form
        include ./registration-form__title/registration-form__title
        include ./registration-form__block-registration/registration-form__block-registration
        include ./registration-form__birthday/registration-form__birthday
        include ./registration-form__password_email/registration-form__password_email
        include ./registration-form__form-login/registration-form__form-login