.container-headers-footers
    .header-user
        .container-headers.container-headers__header-visitor
            include ./header-user__logo/header-user__logo
            include ./header-user__navigation/header-user__navigation
