.footer-navigation__support
    +second-level-heading('footer-navigation__support-title', 'Support')
    .tesrt
        +entire-text('footer-navigation__support-text', 'Documentation')
        +entire-text('footer-navigation__support-text', 'Community')
        +entire-text('footer-navigation__support-text', 'Get in Touch')