.footer-navigation__support
    +textBlock('footer-navigation__support-title', 'Support')
    .tesrt
        +textBlock('footer-navigation__support-text', 'Documentation')
        +textBlock('footer-navigation__support-text', 'Community')
        +textBlock('footer-navigation__support-text', 'Get in Touch')