.container-dropdown__exit-form {
    position: relative;
}

.container-dropdown__exit-header {
    width: 130px;
    height: 15px;
    line-height: 15px;
    color: #1F2041;
}

.datepicker-here__all:hover,
.datepicker-here__all:active {
    border: 1px solid #1f204180;
    color: #1f2041f2;
}

.container-dropdown__exit-form .datepicker-here__all {
    background-color: #f8f8f8;
}

.container-dropdown__exit-form .datepicker-here__all::-webkit-input-placeholder {
    color: #1f204140;
}

.container-dropdown__exit-form .datepicker-here__all::-moz-placeholder {
    color: #1f204140;
}

.container-dropdown__exit-form .datepicker-here__all:hover::-webkit-input-placeholder {
    color: #1f2041f2;
}

.container-dropdown__exit-form .datepicker-here__all:hover::-moz-placeholder {
    color: #1f2041f2;
}