.container-buttons-and-more
   include ./container-buttons-and-more__range-slider/container-buttons-and-more__range-slider
   include ./container-buttons-and-more__buttons/container-buttons-and-more__buttons
   include ./container-buttons-and-more__pagination/container-buttons-and-more__pagination