.form-search-number__title {
    // position: relative;
    width: 320px;
    height: 60px;
    margin: 0px;
    // left: 170px;
    // top: 190px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* Dark 100% */
    color: #1F2041;
}